:root {
  --main-bg-ground-color: rgb(232, 241, 232);
  --main-bg-sky-color: rgb(224, 239, 246);
  --main-sky-cloud: rgb(161, 228, 244);
  --green1-color: rgb(170, 211, 170);
  --green2-color: rgb(125, 169, 125);
  --green3-color: rgb(72, 132, 72);
  --green4-color: rgb(34, 69, 34);
  --black-color: black;
  --building-wall-pink1-color: rgb(224, 94, 94);
  --building-roof-green-color: #053b09;
  --building-window-white-color: aliceblue;
  --building-wall-pink2-color: rgb(228, 154, 154);
}

.ground {
  background-color: var(--main-bg-ground-color);
}

.cloud__puff {
  background-color: var(--main-sky-cloud);
}

.sky {
  background-color: var(--main-bg-sky-color);
}

.bush--left .bush__leaves {
  background-color: var(--green4-color);
}

.bush--center .bush__leaves,
.bush--right .bush__leaves {
  background-color: var(--green3-color);
}

.bush--single .bush__leaves {
  background-color: var(--green1-color);
}

.tree--1 .tree__leaves,
.tree--4 .tree__leaves {
  background-color: var(--green2-color);
}

.tree--2 .tree__leaves,
.tree--3 .tree__leaves {
  background-color: var(--green3-color);
}

.tree__trunk {
  background-color: var(--black-color);
}

.building__front-wall,
.building--large .building__right-wall,
.building__second-floor__front-wall,
.building__second-floor__right-wall {
  background-color: var(--building-wall-pink1-color);
}

.building__right-wall,
.building__front-wall .window,
.building--large .building__roof,
.round-window,
.building__second-floor__roof {
  background-color: var(--black-color);
}

.building__roof {
  background-color: var(--building-roof-green-color);
}

.window--white,
.building__right-wall--windows {
  background-color: var(--building-window-white-color);
}

.building--large .building__front-wall {
  background-color: var(--building-wall-pink2-color);
}
