body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.sky {
  height: 40%;
}

.background {
  width: 100vw;
}

.ground {
  height: 60%;
}

.cloud-container {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cloud-container--left {
  left: 140px;
  height: 10px;
}

.cloud-container--right {
  left: 350px;
  height: 40px;
}

.cloud-part1 {
  height: 22px;
  width: 58px;
  border-radius: 100px / 80px 55px 0px 0px;
}

.cloud-part2 {
  height: 17px;
  width: 60px;
  border-radius: 100px / 45px 60px 0px 0px;
  margin-left: -10px;
}

.cloud-part3 {
  height: 14px;
  width: 55px;
  border-radius: 100px / 55px 55px 0px 0px;
  margin-left: 10px;
}

.bush {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bush--left {
  top: 290px;
  left: 250px;
  transform: scale(0.4);
}

.bush--center {
  top: 295px;
  left: 270px;
  transform: scale(0.4);
}

.bush--right {
  top: 300px;
  left: 335px;
  transform: scale(0.4);
}

.bush--single {
  top: 450px;
  left: 900px;
}

.bush__part1 {
  height: 35px;
  width: 80px;
  border-radius: 100px / 90px 90px 0px 0px;
  margin-left: 40px;
}

.bush__part2 {
  height: 60px;
  width: 100px;
  border-radius: 100px / 90px 90px 0px 0px;
  margin-left: -50px;
}

.bush__part3 {
  height: 35px;
  width: 80px;
  border-radius: 100px / 90px 90px 0px 0px;
  margin-left: -20px;
}
