body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.sky {
  height: 40%;
}

.background {
  width: 100vw;
}

.ground {
  height: 60%;
}

.cloud-container {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cloud-container--left {
  left: 140px;
  height: 10px;
}

.cloud-container--right {
  left: 350px;
  height: 40px;
}

.cloud-part1 {
  height: 22px;
  width: 58px;
  border-radius: 100px / 80px 55px 0px 0px;
}

.cloud-part2 {
  height: 17px;
  width: 60px;
  border-radius: 100px / 45px 60px 0px 0px;
  margin-left: -10px;
}

.cloud-part3 {
  height: 14px;
  width: 55px;
  border-radius: 100px / 55px 55px 0px 0px;
  margin-left: 10px;
}
